<nav>
  <ul class="sidebar">
    <div style="margin-left: 80%; margin-top: 6vh;">
      <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960"
            width="26">
            <path
              d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
          </svg></a></li>
    </div>
    <div style="margin-top: 20vh; margin: 0 auto 0 auto; display: flex; flex-direction: column; align-items: center;">
      <li style="margin:10%;     width: 40vw;
    border-radius: 20px;"><a href="#">in</a></li>
      <li class="home" style="margin:10%;  width: 40vw; border-radius: 20px;"><a  href="/">Home</a></li>
      <li class="skills" style="margin:10%;  width: 40vw; border-radius: 20px;"><a  href="/skills">Skills</a></li>
      <li class="projects" style="margin:10%;  width: 40vw; border-radius: 20px;"><a  href="/projects">Projects</a></li>
      <li class="about" style="margin:10%;  width: 40vw; border-radius: 20px;"><a  href="/about">About</a></li>
      <li class="hireme" style="margin:10%;  width: 40vw; border-radius: 20px;"><a  href="/hireme">Hire me</a></li>
    </div>

  </ul>
  <ul style="display: flex; padding: 0%;padding-top:35px;">
    <h3 style="flex: 0 0 30%; text-align: center; padding-left: 30px; margin: auto; color: white;"
      class="imperial-script-regular">Periyanayagaraj</h3>
    <div style=" flex: 0 0 45%; justify-content:center;margin-left:1% 5% 1% 5%; width: auto ;">
      <div class="navbara"
        style="display: flex; margin: auto; justify-content: center; align-items: center; width: 80%; position: relative;">
        <a class="hideOnMobile" href="/">Home</a>
        <a class="hideOnMobile" href="/skills">Skills</a>
        <a class="hideOnMobile" href="/projects">Projects</a>
        <a class="hideOnMobile" href="/about">About</a>
        <a class="hideOnMobile" href="/hireme">Hire me</a>
        <div class="animation"></div>
      </div>

      <div style="margin-left: auto;">
        <li style="padding-left: 50%; margin-left: auto;" class="menu-button" onclick=showSidebar()><a href="#"><svg
              xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26">
              <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
            </svg></a></li>
      </div>
    </div>
    <h3 class="hideOnMobile" style="flex: 0 0 25%; text-align: center; color: white;">in</h3>

  </ul>
</nav>